[type=text],[type=date],[type=datetime],[type=datetime-local],[type=email],[type=month],[type=number],[type=password],[type=search],[type=tel],[type=time],[type=url],[type=week],[type=checkbox]{
    margin:0;
    font-size:.9em;
    padding:0 0 0 1em
}
[type=text]:focus,[type=email]:focus,[type=tel]:focus,select:focus{
    background:#EEE
}
input[readonly]{
    background:#FFF;
    cursor:default
}
[type=radio],[type=checkbox]{
    display:none
}
[type=checkbox]+label{
    color:white;
    margin:0;
    font-size:.75em
}
[type=checkbox]+label:before,[type=radio]+label:before{
    color:#FFF;
    font-family:'fontawesome';
    font-size:1em;
    padding-right:.5em;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    content:"\f111"
}
[type=checkbox]:checked+label:before{
    content:"\f05e";
    color:#bd362f
}
.input-group{
    display:table;
    width:100%;
    margin:.5em 0
}
.input-group>:first-child{
    border-radius:.5em 0 0 .5em
}
.input-group-label{
    text-align:center;
    background:#d47f1e;
    color:#fefefe;
    width:50px;
    border:0
}
.input-group-addon{
    vertical-align:middle;
    display:table-cell;
    font-size:1em;
    color:white;
    text-align:center;
    width:50px;
    background-color:#d47f1e
}
.input-group-error{
    display:table-row
}
.input-group-cell{
    display:table-cell
}
.input-group-error .form-error{
    margin-top:-0.5em;
    padding:.2em 1em;
    color:white
}
.form-error{
    margin-bottom:0;
    background:#c60f13
}
.is-invalid-input:not(:focus){
    border-radius:0
}
select{
    margin:0;
    height:40px;
    font-size:.95em;
    border-left:0;
    padding:0 0 0 1em
}
select.classic{
    background-image:linear-gradient(45deg,transparent 50%,#DDD 50%),linear-gradient(135deg,#DDD 50%,transparent 50%),linear-gradient(to top,#555,#555);
    background-position:calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px),100% 0;
    background-size:5px 5px,5px 5px,32px 3em;
    background-repeat:no-repeat;
    outline:0
}