[type=checkbox], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week] {
margin:0;
font-size:.9em;
padding:0 0 0 1em
}
[type=email]:focus, [type=tel]:focus, [type=text]:focus, select:focus {
	background: #EEE
}
input[readonly] {
	background: #FFF;
	cursor: default
}
[type=checkbox], [type=radio] {
display:none
}
[type=checkbox]+label {
color:#fff;
margin:0;
font-size:.75em
}
[type=checkbox]+label:before, [type=radio]+label:before {
color:#FFF;
font-family:fontawesome;
font-size:1em;
padding-right:.5em;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
content:"\f111"
}
[type=checkbox]:checked+label:before {
	content: "\f05e";
	color: #BD362F
}
.input-group {
	display: table;
	width: 100%;
	margin: .5em 0
}
.input-group-label {
	text-align: center;
	background: #D47F1E;
	color: #fefefe;
	width: 50px;
	border: none
}
.is-invalid-input:not(:focus), .ui-corner-all {
	border-radius: 0
}
.input-group-addon {
	vertical-align: middle;
	display: table-cell;
	font-size: 1em;
	color: #fff;
	text-align: center;
	width: 50px;
	background-color: #D47F1E
}
.input-group-error {
	display: table-row
}
.input-group-cell {
	display: table-cell
}
.input-group-error .form-error {
	margin-top: -.5em;
	padding: .2em 1em;
	color: #fff
}
.form-error {
	margin-bottom: 0;
	background: #c60f13
}
select {
	margin: 0;
	height: 40px;
	font-size: .95em;
	border-left: none;
	padding: 0 0 0 1em
}
select.classic {
	background-image: linear-gradient(45deg, transparent 50%, #DDD 50%), linear-gradient(135deg, #DDD 50%, transparent 50%), linear-gradient(to top, #555, #555);
	background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px), 100% 0;
	background-size: 5px 5px, 5px 5px, 32px 3em;
	background-repeat: no-repeat;
	outline: 0
}
#ExtraName {
	display: none
}
section#Feedback {
	padding: 1em 1em 0
}
.fieldset {
	background: #EEE;
	padding: .5em;
	margin: -1px 0
}
.ui-datepicker {
	width: 22em;
	padding: 0;
	display: none;
	font-size: .8em;
	margin: 0 0 0 20px
}
.ui-widget.ui-widget-content {
	border: 3px solid #D47F1E
}
.ui-widget-header {
	background: #e7ceb1;
	color: #222;
	border: none
}
.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev {
	position: absolute;
	width: 2.5em;
	height: 3em
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #d47f1e;
	background: #e7ceb1;
	color: #222
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	width: 45%;
	padding: 0 20px;
	margin: 0 2px
}
.accordion-title {
	padding: .5em;
	background: #DDD;
	color: #666;
font-size:.85rem;
	font-family: Oswald;
	text-transform: uppercase
}
.accordion-item:first-child>:first-child {
	padding: 1em;
	background: #DDD
}
.accordion-title:focus, .accordion-title:hover {
	color: #555;
	background: #CCC
}
.accordion-content {
	padding: 0;
	margin: 0;
font-size:.85rem
}
.accordion-title:before {
	font-family: fontawesome;
	content: '\f0d7';
	color: #666;
	top: 60%
}
.is-active>.accordion-title:before {
	content: '\f068'
}
:last-child>.accordion-content:last-child {
	border-bottom: none
}
label {
font-size:.75rem
}
textarea {
	font-size: .95em
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color:#888
}
input:-moz-placeholder, textarea:-moz-placeholder {
color:#888
}
input::-moz-placeholder, textarea::-moz-placeholder {
color:#888
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color:#888
}
