/*--------------------------------------/
           MegaOrbit
/--------------------------------------*/
.slide-body{font-size:16px;}
.responsive-slider{width:100%;position:relative;}
.responsive-slider .touch-surface{position:absolute;top:0;left:0;width:100%;height:100%;}
.responsive-slider .slides{position:relative;overflow:hidden;}
.responsive-slider .slides ul{list-style-type:none;padding:0;margin:0;white-space:nowrap;font-size:0;}
.responsive-slider .slides ul li{display:inline-block;max-width:100%;}
.responsive-slider .slides ul li .slide-body{display:inline-block;position:relative;max-width:100%;}
.responsive-slider .slides ul li .slide-body img{max-width:100%;}
.responsive-slider .slides ul li .slide-body .caption{position:absolute;}
.show{visibility:visible;}
.hide{visibility:hidden;}
.upBox{text-indent:.75em;vertical-align:top;white-space:pre-line;margin:1em;color:#CCC;font-family:'Roboto',Arial,sans-serif;font-size:.95em;letter-spacing:-.02em;word-spacing:.05em;}

.btnShow{z-index:1;left:0;margin:0 0 .5em;width:80px;text-align:left;text-transform:uppercase;font-family:'Oswald',Arial,sans-serif;}
.btnShow:after{font-family:fontawesome;content:"\f106";color:orange;margin-left:7px;}
.btnShow:hover:after{content:"\f139";color:#7FC891;margin-left:6px;}
.btnShow.dn:after{content:"\f107";margin-left:16px;}
.btnShow.dn:hover:after{content:"\f13a";margin-left:15px;}

.btnBlog{left:0;margin:0 3px .5em;width:160px;text-transform:uppercase;font-family:'Oswald',Arial,sans-serif;visibility:visible;}
.btnBlog:after{font-family:fontawesome;content:"\f105";color:orange;margin-left:12px;}
.btnBlog:hover:after{content:"\f138";color:#7FC891;margin-left:5px;}
.btnBlog.hide{visibility:hidden;}

.showOnOff{position:absolute;bottom:0;right:0;}
.btnIcon{left:0;border-radius:.5em .5em 0px 0px;margin:0 2px;}

.infoBox{position:absolute:overflow:hidden;background:#222;height:auto;width:0;vertical-align:top;white-space:nowrap;margin-bottom:10%;right:0;bottom:0;border-radius:8px 0 0 8px;font-size:.75em;line-height:1.25em;color:#DDD;opacity:0;padding:.5em 1em 1em;-webkit-transition:opacity 0.8s ease, width .8s ease;-moz-transition:opacity 0.8s ease, width .8s ease;-ms-transition:opacity 0.8s ease, width .8s ease;-o-transition:opacity 0.8s ease, width .8s ease;transition:opacity 0.8s ease, width .8s ease;}
.infoBox.out{opacity:.75 !important;z-index:1;width:22%;-webkit-transition:opacity 0.2s ease, width .8s ease;-moz-transition:opacity 0.2s ease, width .8s ease;-ms-transition:opacity 0.2s ease, width .8s ease;-o-transition:opacity 0.2s ease, width .8s ease;transition:opacity 0.2s ease, width .8s ease;}
.infoBox em{color:#EEE;font-weight:bold;}
.infoBox div{color:#AAA;}
.infoBox a{color:gold;}
.infoBox a:hover{color:#FFF;}
@media (min-width:58em){
    .infoBox.out{width:15%;}
    .infoBox{font-size:.85em;}
    }

/* Pagination (S/M) */
.pages{position:absolute;bottom:22px;right:15%;width:30%;text-align:right;height:.5em;}
.pages .page{display:inline-block;color:transparent;width:8px;height:8px;border:4px solid #CCC;border-radius:50%;opacity:.75;font-size:0em;box-shadow:1px 2px 2px #444;}
.pages .page.active{border:4px solid orange;opacity:.75;}
.pages .page:hover{border:4px solid white;opacity:1;}
.slider-control{position:absolute;top:5%;height:75%;background-color:transparent;padding:0 5em}
.slider-control.left {left:0;}
.slider-control.right {right:0;}
/* Pagination (L) */
@media (min-width:58em){.pages{right:2%;}}

/* SLIDE-01 (S)(M) */
.s01_p1{top:8%;left:12%;font-size:1em;color:#575748;}
.s01_p2{top:13%;left:15%;font-size:1.5em;color:#FFF;font-family:'Oswald',sans-serif;font-weight:bold;text-shadow:1px 2px 4px #222222;}
.s01_p3{top:25%;left:24.5%;font-size:1em;color:#575748;}
.s01_p4{top:23.5%;left:30.5%;font-size:1.5em;color:#575748;font-family:'Oswald',sans-serif;font-weight:bold;}
/* SLIDE-01 (L) */
@media (min-width:58em){
	.s01_p1{top:10%;left:12%;font-size:1.2em;}
	.s01_p2{top:13%;left:15%;font-size:2.2em;}
	.s01_p3{top:24%;left:24.5%;font-size:1.2em;}
	.s01_p4{top:22.5%;left:29%;font-size:2.2em;}
}

/* SLIDE-02 (S/M) */
.s02_p1{top:18%;left:57%;font-size:1em;color:#768eb1;font-family:'Oswald',sans-serif;font-weight:bold;text-shadow:0px 0px 10px #FFF;text-transform:uppercase;}
.s02_p2{top:30%;left:49%;}
.s02_p2 img{border-radius:.2em; box-shadow:1px 2px 7px #666;width:60%;height:auto;}
.s02_p3{top:30%;left:61%;}
.s02_p3 img{border-radius:.2em; box-shadow:1px 2px 7px #666;width:60%;height:auto;}
.s02_p4{top:30%;left:73%;}
.s02_p4 img{border-radius:.2em; box-shadow:1px 2px 7px #666;width:60%;height:auto;}
.s02_p5{display:none;top:58%;left:45%;width:33%;height:auto;background:rgba(243,226,186,0.7);padding:1em .75em .5em 1.5em;border-radius:.25em;border:1px solid rgba(176,141,35,.5)}
.s02_p5 p{font-size:.95em;font-family:'Roboto',Arial,sans-serif;line-height:1.1em;vertical-align:top;white-space:pre-wrap;color:#222;}
/* SLIDE-02 (M+) */
@media (min-width:46em){
	.s02_p1{top:18%;left:54%;font-size:1.1em;}
	.s02_p2{top:30%;left:47%;}
	.s02_p2 img{width:70%;}
	.s02_p3{top:30%;left:58%;}
	.s02_p3 img{width:70%;}
	.s02_p4{top:30%;left:69%;}
	.s02_p4 img{width:70%;}
}
/* SLIDE-02 (L) */
@media (min-width:58em){
	.s02_p1{top:15%;left:54%;font-size:1.2em;}
	.s02_p2{top:27%;left:45%;}
	.s02_p2 img{width:85%;}
	.s02_p3{top:27%;left:56%;}
	.s02_p3 img{width:85%;}
	.s02_p4{top:27%;left:67%;}
	.s02_p4 img{width:85%;}
	.s02_p5{display:block;}
}
/* SLIDE-02 (L+) */
@media (min-width:64em){
	.s02_p1{top:15%;left:53%;font-size:1.4em;}
	.s02_p2{top:27%;left:45%;}
	.s02_p2 img{width:100%;}
	.s02_p3{top:27%;left:56%;}
	.s02_p3 img{width:100%;}
	.s02_p4{top:27%;left:67%;}
	.s02_p4 img{width:100%;}
	.s02_p5{display:block;}
}

/* SLIDE-03 (S/M) */
.s03_p1{top:5%;left:6%;font-size:1.5em;color:white;font-family:cursive;font-weight:bold;text-shadow:2px 3px 5px #000000;}
.s03_p2{top:14%;left:3%;width:38%;background-color:rgba(0,0,0,.6);height:auto;border-radius:.5em;}
.s03_p2 p{vertical-align:top;font-size:.95em;white-space:pre-wrap;margin:1em .5em 1em 1em;color:#CCC;}
.s03_p2 a{color:#ba8b77;}
.s03_p2 a:hover{color:#dfbdbb;}
/* SLIDE-03 (M+) */
@media (min-width:48em){
	.s03_p1{top:10%;left:8%;}
	.s03_p2{top:18%;left:6%;}
}
/* SLIDE-03 (L) */
@media (min-width:58em){
	.s03_p1{top:23.5%;left:10%;font-size:2em;}
	.s03_p2{top:30%;left:8%;width:28%;}
	.s03_p2 p{margin:2em;}
}

/* SLIDE-04 (S/M) */
.s04_p1{top:12%;left:60%;font-size:1em;color:#88733f;text-shadow:1px 1px 10px #FFF;}
.s04_p1 span{color:darkgoldenrod;}
.s04_p2{top:18%;left:72%;font-size:1.2em;color:#5d3305;text-shadow:1px 1px 10px #FFF;}
.s04_p2 span{color:#AAA;}
/* SLIDE-04 (L) */
@media (min-width:58em){
	.s04_p1{font-size:1.5em;}
	.s04_p2{font-size:1.5em;left:75%;}
}

/* SLIDE-05 (S/M) */
.s05_p1{top:4%;left:10%;font-size:2em;font-family:'Oswald',Arial,sans-serif;font-weight:bold;color:#ffa5cb;text-shadow:3px 6px 10px #333;}
.s05_p3{top:8%;left:18%;font-size:1.2em;color:#FFF;}
.s05_p2{top:4%;left:22.5%;font-size:2em;font-family:'Oswald',Arial,sans-serif;font-weight:bold;color:#ffa5cb;text-shadow:3px 6px 10px #333;}
.s05_btns{bottom:0;left:4%;}
.loveBox p{font-size:.95em;line-height:1.1}
.loveBox{left:2%;width:50%;padding:0;bottom:0;height:0.75em;opacity:1;background-color:#222;border-radius:.5em .5em 0 0;
-webkit-transition:opacity 0.5s ease, height .8s ease;
-moz-transition:opacity 0.5s ease, height .8s ease;
-ms-transition:opacity 0.5s ease, height .8s ease;
-o-transition:opacity 0.5s ease, height .8s ease;
transition:opacity 0.5s ease, height .8s ease;}
.loveBox.up{opacity:0.8 !important;height:84%;
-webkit-transition:opacity 0.8s ease, height .8s ease;
-moz-transition:opacity 0.8s ease, height .8s ease;
-ms-transition:opacity 0.8s ease, height .8s ease;
-o-transition:opacity 0.8s ease, height .8s ease;
transition:opacity 0.8s ease, height .8s ease;}
/* SLIDE-05 (M+) */
@media (min-width:48em){
    .s05_p1{top:9%;left:12%;}
    .s05_p3{top:13%;left:19%;}
    .s05_p2{top:9%;left:23%;}
    .loveBox p{line-height:1.2em}
    .loveBox{left:4%;width:40%;}
    .loveBox.up{height:80%;}
    .s05_btns{left:6%;}
}
/* SLIDE-05 (L) */
@media (min-width:58em){
	.s05_p1{top:6%;left:16%;font-size:2.5em;}
	.s05_p3{top:18%;left:15%;font-size:1.7em;}
	.s05_p2{top:17%;left:19%;font-size:2.5em;}
	.s05_btns{left:8%;}
	.loveBox{left:6%;width:35%;padding:.2em .5em;}
	.loveBox.up{height:70%;}
}
/* SLIDE-05 (L+) */
@media (min-width:64em){
	.s05_p1{top:10%;left:15%;}
	.s05_p3{top:20%;left:14%;}
	.s05_p2{top:20%;left:18%;}
	.loveBox{width:30%;}
	.loveBox.up{height:68%;}
}
/* SLIDE-05 (L++) */
@media (min-width:68em){
	.s05_p1{top:18%;left:14%;}
	.s05_p3{top:28%;left:12.5%;}
	.s05_p2{top:27%;left:16%;}
	.loveBox.up{height:58%;}
}

/* SLIDE-06 (S/M) */
.s06_p1{top:79%;left:5%;color:#EEE;font-family:'Oswald',sans-serif;font-size:1.1em;text-shadow:1px 1px 1px black,3px 3px 20px #444;}
.s06_p2{top:85%;left:15%;color:#EEE;font-family:'Oswald',sans-serif;font-size:1.1em;text-shadow:1px 1px 1px black,3px 3px 20px #444;}
@media (min-width:58em){
/* SLIDE-06 (L) */
    .s06_p1{font-size:1.5em;}
    .s06_p2{font-size:1.5em;}
}

/* SLIDE-07 (S/M) */
.s07_p1{top:1%;left:11%;font-size:1.5em;font-family:'Oswald',sans-serif;font-weight:bold;color:#d1beaf;text-shadow:2px 5px 4px #222;}
.s07_p3{top:5%;left:22%;font-size:1em;color:white;}
.s07_p2{top:1%;left:27%;font-size:1.5em;font-family:'Oswald',sans-serif;font-weight:bold;color:#bfa896;text-shadow:2px 5px 4px #222;}
.s07_btns{bottom:0;left:4%}
.wordBox p{font-size:.9em;line-height:1.1em}
.wordBox{display:block;left:1.5%;width:50%;padding:0;bottom:0;opacity:1;height:0.75em;background-color:#222;border-radius:.5em .5em 0 0;
-webkit-transition: opacity 0.8s ease, height .8s ease;
-moz-transition:opacity 0.8s ease, height .8s ease;
-ms-transition:opacity 0.8s ease, height .8s ease;
-o-transition:opacity 0.8s ease, height .8s ease;
transition:opacity 0.8s ease, height .8s ease;}
.wordBox.up{opacity:0.8 !important;height:89%;
-webkit-transition:opacity 0.8s ease, height .8s ease;
-moz-transition:opacity 0.8s ease, height .8s ease;
-ms-transition:opacity 0.8s ease, height .8s ease;
-o-transition:opacity 0.8s ease, height .8s ease;
transition:opacity 0.8s ease, height .8s ease;}
/* SLIDE-07 (M+) */
@media (min-width:48em){
	.s07_p1{top:2%;left:11%;font-size:1.8em;}
	.s07_p3{top:13%;left:14.5%;font-size:1.2em;}
	.s07_p2{top:12%;left:19.5%;font-size:1.8em;}
	.wordBox p{font-size:.95em;line-height:1.2em;}
	.wordBox{left:2.5%;width:45%;padding:.25em 0;}
	.wordBox.up{height:78%;}
}
/* SLIDE-07 (L) */
@media (min-width:58em){
	.s07_p1{top:4%;left:11%;font-size:2em;}
	.s07_p3{top:15%;left:14.5%;font-size:1.3em;}
	.s07_p2{top:12%;left:19%;font-size:2.5em;}
	.wordBox p{font-size:.95em;line-height:1.4em;}
	.wordBox{left:2.5%;width:40%;padding:.25em 0;}
	.wordBox.up{height:75%;}
}
/* SLIDE-07 (L+) */
@media (min-width:68em){
	.s07_p1{top:7%;left:11%;font-size:3em;}
	.s07_p3{top:19%;left:14.5%;font-size:1.5em;}
	.s07_p2{top:17%;left:18.5%;font-size:3em;}
	.s07_btns{bottom:0;left:7%}
	.wordBox{left:4.5%;width:30%;padding:.5em 0;}
	.wordBox.up{height:65%;}
}

/* SLIDE-08 (S/M) */
.s08_p1{top:6%;left:4%;width:45%;background-color:rgb(42,44,68);height:auto;border-radius:.5em;padding:.5em;}
.s08_p1 h2{vertical-align:top;font-size:1em;color:#fff;}
.s08_p1 p{vertical-align:top;font-size:.85em;white-space:pre-wrap;margin:1em .5em 1em 1em;color:#CCC;line-height:1em;}
.s08_p1 em{font-weight:bold;color:#DDD;font-style:oblique;}
.s08_p1 div div{text-align:center;padding-top:.5em}
.s08_p1 hr{margin:.1em .75em -.25em;border-top:1px red solid;border-bottom:none;}
/* SLIDE-08 (M+) */
@media (min-width:48em){
    .s08_p1{top:8%;left:8%;width:35%;padding:.75em;}
    .s08_p1 p{font-size:.9em;margin:1em .5em 1em 1em;line-height:1.1em;}
    .s08_p1 hr{margin:.5em .75em 0;}
}
/* SLIDE-08 (L) */
@media (min-width:58em){
    .s08_p1{top:15%;left:8%;width:33%;padding:1em;}
    .s08_p1 p{font-size:.95em;line-height:1.25em;}
    }
/* SLIDE-08 (L+) */
@media (min-width:68em){
    .s08_p1{top:22%;left:12%;width:27%;}
}

/* SLIDE-09 (S/M) */
.s09_p1{top:12%;left:3%;width:30%;background-color:rgba(214,222,216,0.5);height:auto;border-radius:1em;padding:0;border:rgba(1, 74, 8, 0.2) 1px solid;box-shadow:0 0 10px 5px rgba(255, 255, 255, 0.3);}
.s09_p1 h3{vertical-align:top;font-size:1em;color:#2b3a22;padding:1em 0 0 1em;text-shadow:1px 2px 15px white;}
.s09_p1 p{vertical-align:top;font-size:.85em;white-space:pre-wrap;margin:1em .5em 1em 1em;color:#222;line-height:1em;}
.s09_p1 hr{margin:.5em .75em -.5em;border-top:1px #1d671e solid;border-bottom:none;}
/* SLIDE-09 (M+) */
@media (min-width:48em){
	.s09_p1{top:22%;left:5%;width:25%;}
	.s09_p1 p{line-height:1.1em;}
}
/* SLIDE-09 (L) */
@media (min-width:58em){
	.s09_p1{top:45%;}
	.s09_p1 p{font-size:.9em;line-height:1.2em;}
}
/* SLIDE-09 (L+) */
@media (min-width:68em){
	.s09_p1{top:55%;}
}

/* SLIDE-10 (S/M) */
.s10_p1{top:2%;left:3%;font-size:1.5em;font-weight:bold;font-family:'Oswald',sans-serif;color:#FFFFFF;text-shadow:1px 2px 2px #222222;}
.s10_p2{top:15%;left:3%;width:47%;height:auto;}
.s10_p2 p{font-size:.95em;line-height:.95em;vertical-align:top;white-space:pre-wrap;color:#333;}
.s10_p2 cite{font-family:cursive;font-size:1em;color:rgb(150,80,59);margin:-18px 1em;float:right;}
.s10_btns{display:none;bottom:0;left:3%;}
.regretBox{display:none;left:1%;width:48%;padding:0;bottom:0;opacity:1;height:0.75em;background-color:#222;border-radius:.5em .5em 0 0;
-webkit-transition:opacity 0.8s ease, height .8s ease;
-moz-transition:opacity 0.8s ease, height .8s ease;
-ms-transition:opacity 0.8s ease, height .8s ease;
-o-transition:opacity 0.8s ease, height .8s ease;
transition:opacity 0.8s ease, height .8s ease;}
.regretBox.up{opacity:0.8 !important;height:66%;
-webkit-transition: opacity 0.8s ease, height .8s ease;
-moz-transition: opacity 0.8s ease, height .8s ease;
-ms-transition: opacity 0.8s ease, height .8s ease;
-o-transition: opacity 0.8s ease, height .8s ease;
transition: opacity 0.8s ease, height .8s ease;}
/* SLIDE-10 (M+) */
@media (min-width:50em){
	.s10_btns{display:block;}
	.regretBox{display:block;}
}
/* SLIDE-10 (L) */
@media (min-width:58em){
	.s10_p1{top:6%;left:7%;font-size:2em;}
	.s10_p2{top:21%;left:7%;width:32%;}
	.s10_p2 cite{margin:-25px 1em;}
	.s10_btns{bottom:0;left:5%;}
	.regretBox{left:2.5%;width:40%;padding:.1em 0;}
	.regretBox.up {height:58%;}
}
/* SLIDE-10 (L+) */
@media (min-width:64em){
.s10_p1{top:8%;}
.s10_p2 cite{margin:-20px 1em;}
.s10_btns{left:7%;}
.regretBox{left:4.5%;width:38%;padding:.25em 0;}
.regretBox.up {height:55%;}
}
/* SLIDE-10 (L++) */
@media (min-width:68em){
	.s10_p2 cite{margin:-10px 1em;}
	.regretBox.up {height:55%;}
}

/* SLIDE-11 (S/M) */
.s11_p1{top:15%;left:7%;font-size:1em;text-shadow:1px 2px 5px #000;color:#ddd;}
.s11_p1 i{color:lightgreen;}
.s11_p2{top:24%;left:7%;font-size:1em;text-shadow:1px 2px 5px #000;color:#ddd;}
.s11_p2 i{color:lightgreen;}
.s11_p3{top:33%;left:7%;font-size:1em;text-shadow:1px 2px 5px #000;color:#ddd;}
.s11_p3 i{color:lightgreen;}
.s11_p4{top:45%;left:7%;width:38%;height:auto;background:rgba(204,188,175,0.7);border-radius:.3em;border:rgba(93,79,68,0.5) 1px solid;padding:.5em .5em 0;font-size:.95em;}
.s11_p4 p{color: #222;vertical-align:top;white-space:pre-wrap;}
.s11_p4 a{color:#eee;text-shadow:1px 2px 5px #333;}
.s11_p4 a:hover{color:lightgreen;}
/* SLIDE-11 (L) */
@media (min-width:58em){
	.s11_p1{top:20%;font-size:1.2em;}
	.s11_p2{top:26%;font-size:1.2em;}
	.s11_p3{top:32%;font-size:1.2em;}
	.s11_p4{top:41%;width:25%;background:rgba(204,188,175,0.5);padding:1em .75em 0}
}

/* SLIDE-12 (S/M) */
.s12_p1{top:5%;left:46%;font-size:1.1em;color:rgb(122,157,177);text-shadow:1px 1px 15px #EEE;}
.s12_p2{top:10%;left:44%;font-size:1.3em;font-family:'Oswald',Arial,sans-serif;color:rgb(116,150,187);text-shadow:1px 1px 15px white;}
.s12_p3{top:18%;left:48%;font-size:1.1em;color:rgb(122,157,177);text-shadow:1px 1px 15px #EEE;}
.s12_p4{top:73%;left:60%;width:38%;font-size:.85em}
.s12_p4 a{color:gold;text-shadow:1px 2px 5px black;}
.s12_p4 a:hover{color:white}
@media (min-width:58em){
/* SLIDE-12 (L) */
	.s12_p1{top:7%;left:46%;font-size:1.2em;}
	.s12_p2{top:10%;left:44%;font-size:1.5em;}
	.s12_p3{top:17%;left:48%;font-size:1.2em;}
	.s12_p4{font-size:.9em}
}
@media (min-width:68em){
/* SLIDE-12 (L+) */
	.s12_p1{top:7%;left:46%;font-size:1.3em;}
	.s12_p2{top:10%;left:44%;font-size:1.8em;}
	.s12_p3{top:17%;left:48%;font-size:1.3em;}
	.s12_p4{font-size:.95em}
}

/* SLIDE-13 (S/M) */
.s13_p1{top:17%;left:13%;font-size:1em;font-family:'Oswald',Arial,sans-serif;color:rgb(122,157,177);text-shadow:1px 1px 15px #EEE;}
.s13_p2{top:22.5%;left:18%;font-size:1em;color:rgb(86,73,54);text-shadow:2px 2px 15px #EEE;}
/* SLIDE-13 (L) */
@media (min-width:58em){
	.s13_p1{top:17%;left:13%;font-size:1.4em;font-family:'Oswald',Arial,sans-serif;color:rgb(122,157,177);text-shadow:1px 1px 15px #EEE;}
	.s13_p2{top:22.5%;left:18%;font-size:1.4em;color:rgb(86,73,54);text-shadow:2px 2px 15px #EEE;}
}

/* SLIDE-14 (S/M) */
.s14_p1{top:43%;left:7%;color:#fff;font-family:'Roboto',sans-serif;font-size:1em;text-shadow:1px 1px 5px #000;}
.s14_p1 span{font-style:italic;padding-right:3px}
.s14_p2{top:49%;left:11%;color:darkorange;font-family:'Oswald',sans-serif;font-size:1.2em;text-transform:uppercase;}
.s14_p3{top:57.5%;left:13%;color:#FFF;font-family:'Roboto',sans-serif;font-size:1em;text-shadow:1px 1px 5px #000;}
.s14_p4{top:57%;left:18%;color:orange;font-family:'Oswald',sans-serif;font-size:1.2em;text-transform:uppercase;}
.s14_p4 span{color:#fff;}
.s14_p5{top:66%;left:22%}
/* SLIDE-14 (L) */
@media (min-width:58em){
	.s14_p1{top:44%;left:7%;font-size:1.2em;}
	.s14_p1 span{padding-right:3px}
	.s14_p2{top:50%;left:11%;font-size:1.5em;}
	.s14_p3{top:58%;left:13%;font-size:1.2em;}
	.s14_p4{top:58%;left:17%;font-size:1.5em;}
	.s14_p5{top:67%;left:22%}
}


/*--------------------------------------/
               MEDIUM
/--------------------------------------*/
@media (min-width:58em){
article#upBox p {font-size:1.1em;line-height:1.2em;}
/*Pagination*/
.responsive-slider .pages {margin:0 8% 0 0;}
}
a {
	color: #a05400;
}
hr {
	margin: .25em auto;
}
.pushDown {
	margin-top: 1em;
}
.responsive-slider figure {
	margin: 0;
}
p.blog {
	margin: .25em auto .5em;
}
h6.blog {
	margin: 1.5em auto 0
}
.feature img {
	border: 1px solid rgba(50,50,50,0.5);
}
.x-align {
	text-align: left;
	border: none;
	padding-top: .5em;
}
.rp-Space {
	margin: 0 auto 0.5em;
}
@media only screen and (min-width:58em) {
.x-align {
	text-align: right;
}
.rp-Space {
	margin: 0;
}
article {
	border-left: 1px solid #ccc;
}
}
#giving {
	background: #f9f0db;
}
#featured {
	background: #e4e4e4;
}
/*--------------------------------------/
                HOME
/--------------------------------------*/
a {
	color: #a05400;
}
hr {
	margin: .25em auto;
}
.pushDown {
	margin-top: 1em;
}
.responsive-slider figure {
	margin: 0;
}
p.blog {
	margin: .25em auto .5em;
}
h6.blog {
	margin: 1.5em auto 0
}
.feature img {
	border: 1px solid rgba(50,50,50,0.5);
}
.x-align {
	text-align: left;
	border: none;
	padding-top: .5em;
}
.rp-Space {
	margin: 0 auto 0.5em;
}
@media only screen and (min-width:58em) {
.x-align {
	text-align: right;
}
.rp-Space {
	margin: 0;
}
article {
	border-left: 1px solid #ccc;
}
}
#giving {
	background: #f9f0db;
}
#featured {
	background: #e4e4e4;
}
