/*ALBUMS*/
.c_Premium{color:#7d8554;}
#Alb_Pre .orbit-bullets button.is-active,.orbit-bullets button:hover{background-color:#7d8554;}
.bg_Premium,#Alb_Pre .orbit-bullets button{background:rgba(125,133,84,0.2);}
.c_Modern{color:#426092;}
#Alb_Mod .orbit-bullets button.is-active,.orbit-bullets button:hover{background-color:#426092;}
.bg_Modern,#Alb_Mod .orbit-bullets button{background:rgba(66,96,146,0.2);}
.c_Coffee{color:#885d18;}
#Alb_Cof .orbit-bullets button.is-active, .orbit-bullets button:hover{background-color:#885d18;}
.bg_Coffee,#Alb_Cof .orbit-bullets button{background:rgba(136,93,24,0.2);}
/*DECOR*/
.c_Canvas{color:#6d807e;}
#Canvas .orbit-bullets button.is-active, .orbit-bullets button:hover{background-color:#6d807e;}
.bg_Canvas,#Canvas .orbit-bullets button{background:rgba(119,141,137,0.2);}
.c_Mount{color:#206395;}
#Mount .orbit-bullets button.is-active, .orbit-bullets button:hover{background-color:#206395;}
.bg_Mount,#Mount .orbit-bullets button{background:rgba(32,99,149,0.2);}
.c_Frame{color:#34581c;}
#Frame .orbit-bullets button.is-active, .orbit-bullets button:hover{background-color:#34581c;}
.bg_Frame,#Frame .orbit-bullets button{background:rgba(52,88,28,0.2);}
/*MEDIA*/
.c_Down{color:#48811a;}
.bg_Down{background:rgba(72,129,26,0.2);}
.c_Gift{color:#bb2c40;}
.bg_Gift{background:rgba(187,44,64,0.2);}
.green{color:green;}
/*ALL*/
.coStyle{border:1px solid rgba(10, 10, 10, 0.2);margin:0;padding:1em .75em;}
.coStyle ul{list-style-type:none;padding-left:-30px;}
.coStyle li{position:relative;padding-left:1em;margin-bottom:2px;left:-1em;font-weight:lighter;}
.coStyle li:before{position:absolute;top:0;left:0;font-family:FontAwesome;content:'\f0da';color:#7a1013;}
h3{margin: 0 0 1em;}
.player{background:#FFF;border:1px solid rgba(10,10,10,0.5);margin:.75em auto 0;padding:.5em .5em .5em;border-radius:6px;}
@media screen and (min-width:40em){.player{margin:.5em auto .5em;}}
@media screen and (min-width:58em){.player{margin:.5em auto -.5em;}}